/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
    font-family: Roboto, Arial, sans-serif;
    padding: 0;
    margin: 0;
}

#toolbarMenu {
    cursor: pointer;
    margin-right: 20px;
}
#mainToolbar .toolbar-spacer {
    flex: 1 1 auto;
}

#mainToolbar .toolbar-icon {
    cursor: pointer;
    margin: 0 8px;
}

#sidenavContainer {
    margin-top: 64px;
    
}

#sidenav {
    width: 240px;
    /* overflow: hidden; */
}

#sidenav.menu-close {
    width: 68px;
}

#sidenav.menu-open {
    width: 240px
}

#sidenav .avatar {
    background-image: url('https://cdn3.iconfinder.com/data/icons/business-avatar-1/512/10_avatar-512.png');
    background-size: cover;
}

#sidenav .mat-list-item-content {
    padding: 0;
}

#sidenav .menu-item {
    width: 100%;
    border-radius: 0;
    text-align: left;
    padding: 10px;
}

#sidenav .menu-item:hover {
  background: #eee;
}
#sidenav .menu-item mat-icon {
    margin-right: 20px;
    margin-left: 12px;
}

.dash-list h3 {
    padding: 12px;
}
/* .mat-drawer-inner-container{
    overflow: hidden;
} */